.banner {
  text-align: center;
}

.content {
  margin: 0 5%;
}

.loader {
  text-align: center;
}

.generations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pokemon-list > .pokemon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 32%;
  background-color: #272727;
  border: 2px solid #747474;
  max-width: 15%;
}
